<!DOCTYPE html>
<html>
<head>
  <style>
      body {
        width: 500px;
      }

      div, p {
        margin-bottom: 20px;
      }
    </style>
</head>
<body>
    <p>Wypisz liczby pierwsze z przedzialu <input id="from" value="1" size="8"> - <input id="to" value="10" size="10"></p>
    <button onclick="doSearch()" id="searchButton">Szukaj</button>
    <button onclick="cancelSearch()">Anuluj</button>

    <div id="primeContainer">
    </div>

    <div id="status"></div>


    <script id="FindPrimes" type="javascript/worker">

        onmessage = function(event) {
          var primes = findPrimes(event.data.from, event.data.to);
          postMessage(
           {messageType: "PrimeList", data: primes}
          );
        };

        function findPrimes(fromNumber, toNumber) {
          var list = [];
          for (var i=fromNumber; i<=toNumber; i++) {
            if (i>1) list.push(i);
          }

          
          var maxDiv = Math.round(Math.sqrt(toNumber));
          var primes = [];

          var previousProgress;

          for (var i=0; i<list.length; i++) {
            var failed = false;
            for (var j=2; j<=maxDiv; j++) {
              if ((list[i] != j) && (list[i] % j == 0)) {
                failed = true;
              } else if ((j==maxDiv) && (failed == false)) {
                primes.push(list[i]);
              }
            }

            var progress = Math.round(i/list.length*100);
            if (progress != previousProgress) {
              postMessage(
               {messageType: "Progress", data: progress}
              );
              previousProgress = progress;
            }
          }

          return primes;
        }

    </script>
    <script>
        var statusDisplay;
        var worker;
        var searchButton;

        window.onload = function () {
            statusDisplay = document.getElementById("status");
            searchButton = document.getElementById("searchButton");
        };

        function doSearch() {
            searchButton.disabled = true;

            var fromNumber = document.getElementById("from").value;
            var toNumber = document.getElementById("to").value;

         

          
            var blob = new Blob([document.querySelector('#FindPrimes').textContent]);
            blobURL = window.URL.createObjectURL(blob);

            worker = new Worker(blobURL);
            worker.onmessage = receivedWorkerMessage;
            worker.onerror = workerError;

            worker.postMessage(
                {
                    from: fromNumber,
                    to: toNumber
                }
            );

            statusDisplay.innerHTML = "Trwa wyszukiwanie z przedziału (" +
                fromNumber + " - " + toNumber + ") ...";
        }

        function receivedWorkerMessage(event) {
            var message = event.data;

            if (message.messageType == "PrimeList") {
                var primes = message.data;

                var primeList = "";
                for (var i = 0; i < primes.length; i++) {
                    primeList += primes[i];
                    if (i != primes.length - 1) primeList += ", ";
                }
                var displayList = document.getElementById("primeContainer");
                displayList.innerHTML = primeList;

                if (primeList.length == 0) {
                    statusDisplay.innerHTML = "Wyszukiwanie nie udane bledny zakres.";
                }
                else {
                    statusDisplay.innerHTML = "Wynik";
                }
                searchButton.disabled = false;
            }
            else if (message.messageType == "Progress") {
                statusDisplay.innerHTML = "Wykonano " + message.data + "%";
            }
        }

        function workerError(error) {
            statusDisplay.innerHTML = error.message;
        }

        function cancelSearch() {
            worker.terminate();
            worker = null;
            statusDisplay.innerHTML = "Wyszukiwanie anulowane.";
            searchButton.disabled = false;
        }
    </script>

</body>
</html>