{% extends "blog/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}



{% block content %}
    

    {% if form.errors %}
        <p>Twoje hasło lub login nie zgadza się . Sprubój ponownie</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

        <h1 class = "h3 mb-3 font-weight-normal" >{% trans "Sign In" %}</h1>

        {% get_providers as socialaccount_providers %}

        

        {% include "socialaccount/snippets/login_extra.html" %}
        <table class="tabelalogin">
        <tr>
            <td class="tabelagr">{{ form.username.label_tag }}</td>
            <td class="tabelagr">{{ form.username }}</td>
        </tr>
        <tr>
            <td class="tabeladl">{{ form.password.label_tag }}</td>
            <td class="tabeladl">{{ form.password }}</td>
        </tr>   
        </table>
        <div class = "loginprz" style = "float: left;"><input type="submit" class="btn btn-outline-info btn-lg " value="Login"  /></div>
        <div class = "loginprz" style = "float: left; margin-left: 10px;"><a class = "btn btn-outline-info btn-lg " href="{% url 'password_reset' %}" >Reset hasła</a></div>
        <div class="socialaccount_ballot"style = "clear: both"> 
        <p>Zaloguj się za pomocą :</p>
        <ul class="socialaccount_providers">
            <li>
                <a title="Google" class="socialaccount_provider google " href="/accounts/google/login/?process=login"></span>Google</a>
            </li>
            <li>
                <a title="Discord" class="socialaccount_provider discord " href="/accounts/discord/login/?process=login"></span>Discord</a>
            </li>
        </ul>
        <input type="hidden" name="next" value="{{ next }}" />
        
        
        
    </form>
{% endblock %}  

