{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Twoje hasło lub login nie zgadza się . Sprubój ponownie</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table class="tabelalogin">
        <tr>
            <td class="tabelalew">{{ form.username.label_tag }}</td>
            <td class="tabelapr">{{ form.username }}</td>
        </tr>
        <tr>
            <td class="tabelalew">{{ form.password.label_tag }}</td>
            <td class="tabelapr">{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" class="btn btn-secondary btn-lg" value="login"  />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}