{% extends 'blog/base.html' %}
{% block title %}Wpisz hasło{% endblock %}

{% block content %}

{% if validlink %}

<h1>Ustaw nowe hasło</h1>
<form method="POST">
{% csrf_token %}
    <div class= "tabelalogin">
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Zresetuj hasło</legend>
        {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Zresetuj hasło</button>
        </div>
    </div>
</form>
{% else %}

{% endif %}

{% endblock  %}

