{% extends 'blog/base.html' %}
{% block content %}
<p class = "paragraf">Posty :</p>
    {% if not request.COOKIES.visits %}
        <p>This is your first visit to the site. From now on I will track your visits to this site.</p>
    {% else %}
        <p>
            This is your {{ request.COOKIES.visits|add:'1' }} visit
        </p>
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}  

