
.w40{
    width:40%!important;
    padding: 2rem;
}

ul {
    list-style-type: none!important;
    padding-left:0!important;
}

.twoRemPaddig{
    padding: 2rem;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
}
